<div class="container">
    <h1>project editor</h1>
    <div id="editor"></div>
    <form (ngSubmit)="onSubmit()" #captchaProtectedForm="ngForm">
        <div class="form-group">
            <label for="title">title</label>
            <input type="text" class="form-control" id="title" required
                   [(ngModel)]="project.title" name="title">
        </div>
        <div class="form-group">
            <label for="description">description</label>
            <textarea class="form-control" id="description" required [(ngModel)]="project.description" name="description"></textarea>
        </div>
        <div class="form-group">
            <label for="htmlContent">html content</label>
            <textarea class="form-control" id="htmlContent" required [(ngModel)]="project.htmlContent" name="htmlContent" style="height: 250px"></textarea>
        </div>

        <div class="form-group">
            <label for="apiKey">api Key</label>
            <input type="password" class="form-control" id="apiKey" required
                   [(ngModel)]="apiKey" name="apiKey">
        </div>

        <div class="form-group">
            <re-captcha [(ngModel)]="captcha"
                        name="captcha"
                        required
                        siteKey="6LcbsRsUAAAAAN2j-dZLSrbhOkyYbVVLa4I702kv"
                        #captchaControl="ngModel"></re-captcha>
        </div>
        <button [disabled]="!captchaProtectedForm.form.valid" type="submit" class="btn btn-success">Save</button>
    </form>
</div>