<div class="container">
    <h1>Project Form</h1>
    <div id="editor"></div>
    <p>{{diagnostic}}</p>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" required
                   [(ngModel)]="project.title" name="title">
        </div>
        <div class="form-group">
            <label for="htmlContent">HTML content</label>
            <input type="text" class="form-control" id="htmlContent" required
                   [(ngModel)]="project.htmlContent" name="htmlContent">
        </div>

        <div class="form-group">
            <label for="apiKey">API Key</label>
            <input type="text" class="form-control" id="apiKey" required
                   [(ngModel)]="apiKey" name="apiKey">
        </div>

        <button type="submit" class="btn btn-success">Save</button>
    </form>    
</div>