<div class='container-fluid'>
    <div class='navbar-header'>
        <a class='navbar-brand' [routerLink]="['/home']">jbarszczewski</a>
    </div>
    <ul class='nav navbar-nav navbar-right'>
        <li [routerLinkActive]="['link-active']">
            <a [routerLink]="['/home']">home</a>
        </li>
        <li [routerLinkActive]="['link-active']">
            <a [routerLink]="['/projects']">projects</a>
        </li>
        <li [routerLinkActive]="['link-active']">
            <a [routerLink]="['/editor']">editor</a>
        </li>
    </ul>
</div>
